#title{
  font-size: 1.5rem;
  /* background-color: pink; */
  /* padding: 7% 15%; */
}

.container-fluid{
  padding: 3% 15% 5%;

}

.navbar-brand{
  font-family: "Ubuntu",sans-serif;
  font-weight: bold;

  font-size: 5rem;

}
.buttons-title{
  margin-right: 5%;
}
.title-image{
  background-image: url("../images/food.jpg");
  height: 650px;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  background-size: cover;


}
.btn-title{
  text-align: center;
  position: absolute;
  left:40%;
  top:50%;
  transform: translate(-50%, -50%);
}

/* features */

#features{
  text-align: center;
  padding: 3% 15%;
  background-color: white;
}

.features-pad{
  margin-bottom: 5%;
}

.features-icons{
  width:64px;
  height:64px;
}

.features-margin{
  margin-top: 3%;
}

.features-color{
  color:green;
}

h1, h2, h3 ,h4{
  font-family: 'Libre Baskerville', serif;
  font-weight: bold;
}

p{
  font-family: 'Montserrat', serif;
  font-size: 1.2rem;
}
/* content */
#content{
  background-color: #F7F9FB;
   padding: 7% 15%;
}


.cont-fluid-outer{
  text-align: center;
  background-image: url("../images/food.jpg");
  background-size: cover;
  width: 1088px;̥
  height:980px;
  padding-bottom: 15%;
}

.cont-fluid-inner{
  text-align: center;
  background-color: #fff;
  display: block;
  text-transform: capitalize;
  height: auto;
  padding: 3%;
  width:80%;
  height: 600px;
  margin-left: 10%;
}
.cont-fluid-outer  h3,h1{
  color: green;
  margin-bottom:3px;
  font-size: 1.2rem;
  line-height: 1.5rem;

}


.content-icons{
  width:96px;
  height:96px;
  margin-bottom: 2%;
}

.content-btn{
  float: right;
  margin: 2% 5%;

}


/* Content-menu */

#menu-content{
  padding: 3% 15%;
  text-align: center;
}
.card{
  margin: 2%;
}

.menu-btn{
  margin-top:1%;
}

h2{
  color: green;
}

/* tweets-data */

#tweets-data{
  background-color: #F7F9FB;
  padding: 3% 15%;
  text-align: center;
}

.test-img{
  width:50%;
  border-radius: 20% ;
}

.plain:link{
  text-decoration: none;
}
.your-custom-class:active{
  color: black;
}
.carousel-item{
  padding: 1% 15%;
}

#footer{
  background-color: #000316;
  height: 200px;
}

/* media queries */

/* @media only screen and (min-width: 450px){
  .cont-fluid-outer{
    padding-bottom: : 100px;

  }

} */
